*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    min-height: 100vh;
    justify-content: center;
    background-image: url('../img/logo2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'open sans', sans-serif;
}
a{
    text-decoration: underline;  
    color: white;  
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.container{
    min-height: 50px;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 90%;
    margin-top: 100px;
    margin-bottom: 10%;
}

.form-group{
    position: relative;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .form-group label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: .5s;
  }
  
  .container .form-group input:focus ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
  }
  .container .form-group input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
  }