.navbar {
    background-color: #333;
    overflow: visible;
}

.container{
    color:white;
    background-color: 
    rgb(133, 38, 38); 
    padding: 30px; 
    text-align: center;
    border-radius: 10px; 
}
